<div class="mt-5">
    <div class="row">
        {{#each products}}
            <div class="col-sm-6 col-lg-4">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="/products/{{this.slug}}">
                                <img src={{this.image}} class="img-fluid rounded-start" alt="product image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/products/{{this.slug}}">
                                    <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>